.table1 {
    border-collapse: collapse;
    width: 80%;
    border: solid black 2px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: beige;
}
th, td {
    text-align: left;
    padding: 8px;
    border: solid black 2px;
}

/*tr:nth-child(even){
    background-color: 
}*/
.h11{
    text-align:center;
    color: black;
    margin-top: 7%;
}
.h12{
    text-align:center;
    color: black;
}
.tete{
    background-color: #3399FF;
}
body{
    background-color: #DEEBFA;
}
